@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2"),
       url("../fonts/gilroylight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/gilroyextrabold.woff2"),
  url("../fonts/gilroyextrabold.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensans.woff2"),
  url("../fonts/opensans.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff2"),
  url("../fonts/opensanslight.woff");
  font-weight: 300;
  font-style: normal;
}

:root {
  --black-basic: #000000;
  --black-light: #363636;
  --black-opacity02: rgba(0, 0, 0, 0.2);
  --black-opacity03: rgba(0, 0, 0, 0.3);
  --black-opacity04: rgba(0, 0, 0, 0.4);
  --black-opacity06: rgba(0, 0, 0, 0.6);

  --gray-form-input: #EAEAEA;
  --gray-darkest: #DCDCDC;
  --gray-darker: #D9D9D9;
  --gray-dark: #464646;
  --gray-basic: #7E7E7E;
  --gray-light: #E5E5E5;
  --gray-lightest: #EBEBEB;
  --gray-onemore: #C4C4C4;
  --gray-another: rgba(166,166,166,1);
  --gray-anotherone: #F2F2F2;


  --yellow-form-outline: #F7E296;
  --yellow-basic: #F0C52E;
  --yellow-light: #F7E296;
  --yellow-some: #FFC600;
  --pink-basic: #F6DADA;

  --white-basic: #FFFFFF;
  --white-opacity03: rgba(255, 255, 255, 0.3);
  --white-opacity06: rgba(255, 255, 255, 0.6);
  --white-opacity01: rgba(255, 255, 255, 0.1);

  --green-basic: #91C92F;

  --red-form-invalid: #F6DADA;

  --letter-spacing: 3.6px;

  --container-size: 1160px;

  --header-white-gradient: 20px;
  --main-nav-side-margin: 60px;
  --header-color: var(--yellow-light);

  --catalog-li-width: calc(238px + var(--main-nav-site-catalog-icon-width));

  --recommended-img-height: 500px;
  --recommended-img-width: 526px;

  --categories-min-width: 160px;
  --categories-link-padding: 38px;

  --advantages-tags-text-width: 163px;
  --advantages-defitions-marginleft: 123px;

/*  Icons Begin*/
  --main-nav-login-icon-width: 13px;
  --main-nav-user-compare-icon-width: 14px;
  --main-nav-user-cart-icon-width: 10px;
  --main-nav-site-catalog-icon-width: 22px;
/*  Icons End*/
}

/* Global Begin */
@keyframes btn_stretching {
  from { height: 8px }
  25% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(3);
  }
  75% {
    transform: scaleY(4);
  }
  100% {
    transform: scaleY(5);
  }
}

@keyframes move-center {
  20% {
    transform: translateX(10%);
  }
  40% {
    transform: translateX(20%);
  }
  60% {
    transform: translateX(30%);
  }
  80% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(50%);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  color: var(--black-basic);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: var(--container-size);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 523px;
  margin-bottom: 85px;
}

.index-columns p {
  margin: 0;
  padding: 0;
}

.index-columns .button {
  margin-top: auto;
  width: 264.5px;
  line-height: 23px;
  text-align: center;
}

.section-title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 58px;
}

.section-title-uppercase {
  font-family: "Gilroy Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.button {
  position: relative;
  cursor: pointer;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  color: var(--black-basic);
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  z-index: 0;
}

.button:active {
  color: var(--black-opacity03);
}

.button::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  background-color: var(--yellow-basic);
  width: 260px;
  height: 8px;
  z-index: -1;
}

.button:hover::before,
.button:focus:before {
  animation-name: btn_stretching;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
}

.button {
  outline: none;
}
/* Global End */

.catalog-main-header {
  margin-top: 44px;
  margin-bottom: 50px;
  padding: 0 60px;
}

.catalog-content {
  display: grid;
  grid-template-columns: max-content 1fr;
}

/* Header Begin */
.main-header {
  background-image: linear-gradient(
    var(--white-basic) var(--header-white-gradient),
    var(--yellow-light) var(--header-white-gradient));
  margin-top: 20px;
}

.main-nav {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  margin: 0 var(--main-nav-side-margin);
  padding-bottom: 47px;
}

.index .main-nav {
  padding-bottom: 161px;
}

.logo {
  margin-right: auto;
}

.main-nav .logo:hover {
  opacity: 0.6;
}

.main-nav .logo:active{
  opacity: 0.3;
}

.user-nav-wrapper {
  display: flex;
  margin-top: 5px;
}

.search-form {
  display: flex;
  flex-basis: 50%;
  align-items: flex-end;
}

.search-form-input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--black-basic);
  width: 356px;
  border: none;
  background-color: inherit;
  padding-left: 38px;
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;
}

.search-form-input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--black-opacity03);
}

.search-form-input:hover::placeholder {
  color: var(--black-opacity06);
}

.search-form-input:focus {
  border-bottom: 2px solid var(--black-basic);
  outline: none;
}

.search-form-submit {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  background-color: transparent;
  visibility: hidden;
  padding: 15px 17px;
  width: 84px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  border-color: var(--black-basic);
}

.search-form-input:focus + .search-form-submit {
  visibility: visible;
}

.search-form-submit:hover {
  background-color: var(--black-basic);
  color: var(--white-basic);
}

.search-form-submit:active {
  visibility: visible;
  background-color: var(--black-basic);
  color: var(--white-opacity03);
}

.search-label {
  position: relative;
}

.search-label::before {
  content: "";
  position: absolute;
  bottom: 16px;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-search-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-routes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-routes-link:hover{
  opacity: 0.6;
}

.user-routes-link:active{
  opacity: 0.6;
}

.main-nav-user-routes {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-nav-user {
  margin-right: 30px;
}

.main-nav-user:last-child {
  margin-right: 0;
}

.main-nav-user-search {
  flex-basis: 50%;
}

.main-nav-user-search .user-routes-link {
  margin-left: 16px;
  padding-left: 22px;
}

.main-nav-user-search .user-routes-link::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 128px;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-search-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav-user-login {
  margin-left: 100px;
  margin-right: auto;
}

.main-nav-user-login .user-routes-link,
.main-nav-user-logged .user-routes-link {
  padding-left: calc(11px + var(--main-nav-login-icon-width));
}

.main-nav-user-login .user-routes-link::before {
  content: "";
  position: absolute;
  right: 54px;
  top: 4px;
  width: var(--main-nav-login-icon-width);
  height: 14px;
  background-image: url("../img/icon-user-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav-user-logged .user-routes-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-user-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav-user-logged {
  margin-left: 100px;
  margin-right: 21px;
}

.main-nav-user-exit {
  margin-right: 62px;
}

.main-nav-user-compare {
  margin-right: 41px;
  text-align: end;
}

.main-nav-user-compare .user-routes-link {
  padding-left: calc(12px + var(--main-nav-user-compare-icon-width));
}

.main-nav-user-compare .user-routes-link::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 80px;
  width: var(--main-nav-user-compare-icon-width);
  height: 14px;
  background-image: url("../img/icon-chart-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav-user-cart .user-routes-link {
  padding-left: calc(14px + var(--main-nav-user-cart-icon-width));
}

.main-nav-user-cart .user-routes-link::before {
  content: "";
  position: absolute;
  right: 71px;
  top: 5px;
  width: var(--main-nav-user-cart-icon-width);
  height: 10px;
  background-image: url("../img/icon-cart-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-routes-link {
  display: inline-block;
  line-height: 20px;
  position: relative;
  color: inherit;
}

.user-routes-link:hover,
.darkmode-link {
  opacity: 0.7;
}

.darkmode-link:hover {
  opacity: 1;
}

.user-routes-link:active,
.transparent-link {
  opacity: 0.3;
}

.transparent-link:hover {
  opacity: 0.15;
}

.transparent-link:active {
  opacity: calc(0.15/2);
}

.site-routes {
  list-style: none;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.main-nav-site-routes {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 32px;
}

.main-nav-site {
  margin-left: 30px;
}

.index .main-nav-site-routes::after {
  content: "";
  position: absolute;
  left: calc(50% + 20px);
  bottom: -73px;
  width: 100px;
  height: 7px;
  background-color: var(--white-basic);
}

.main-nav-site-catalog {
  width: var(--catalog-li-width);
  margin-left: 0;
  margin-right: calc(50% - var(--catalog-li-width));
}

.main-nav-site-catalog .site-routes-link {
  position: relative;
  padding-right: calc(16px + var(--main-nav-site-catalog-icon-width));
}

.main-nav-site-catalog .site-routes-link::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 232px;
  width: var(--main-nav-site-catalog-icon-width);
  height: 22px;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav-site-delivery {
  margin-left: 20px;
}

.main-nav-site-warranty {
  margin-left: 35px;
}

.main-nav-site-contacts{
  margin-left: auto;
  margin-right: -3.5px;
}

.site-routes-link {
  display: inline-block;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  letter-spacing: var(--letter-spacing);
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: inherit;
}

.site-routes-link:hover {
  opacity: 0.6;
}

.site-routes-link:active {
  opacity: 0.3;
}

.catalog-columns,
.catalog-rows {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
}

.header-catalog-wrapper {
  position: absolute;
  display: none;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 42px;
  background-color: var(--header-color);
  z-index: 2;
}

.header-catalog-wrapper::before,
.header-catalog-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: var(--main-nav-side-margin);
  height: 100%;
  background-color: var(--header-color);
  z-index: -1;
}

.header-catalog-wrapper::before {
  left: calc(-1 * var(--main-nav-side-margin));
}

.header-catalog-wrapper::after {
  right: calc(-1 * var(--main-nav-side-margin));
}

.main-nav-site-catalog:hover .header-catalog-wrapper,
.main-nav-site-catalog:focus-within .header-catalog-wrapper{
  display: block;
}

.catalog-product-link {
  color: var(--black-basic);
}

.catalog-product-link:hover {
  color: var(--black-opacity06);
}

.catalog-product-link:active {
  color: var(--black-opacity03);
}

.header-catalog-columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--header-color);
}

.header-catalog-columns li:not(:last-child) {
  margin-right: 31.5px;
}

.header-catalog-rows {
  display: flex;
  flex-direction: column;
}

.header-catalog-rows li:not(:first-child) {
  margin-top: 16px;
}
/* Header End */

/* Breadcrumbs Begin */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

.catalog-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 50px;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 40px;
}

.breadcrumbs-link {
  font-size: 14px;
  color: var(--black-basic);
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3px;
  right: -27px;
  background-image: url("../img/icon-breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* Breadcrumbs End */

/* Sorting Begin */
.sorting,
.sorting-order {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-sorting {
  display: flex;
  flex-wrap: wrap;
  margin-left: 73px;
  margin-bottom: 2px;
}

.catalog-sorting-item {
  margin-right: 31px;
}

.catalog-sorting-order {
  display: flex;
  margin-top: 5px;
}

.sorting-attr {
  font-size: 14.3px;
  line-height: 19px;
  color: var(--black-basic);
  opacity: 0.3;
}

.sorting-attr:hover {
  opacity: 0.6;
}

.sorting-order-attr {
  opacity: 0.2;
  margin-left: 17px;
}

.sorting-order-attr:hover {
  opacity: 0.4;
}

.selected-sorting-order,
.sorting-order-attr:active,
.selected-sorting,
.sorting-attr:active {
  opacity: 1;
}
/* Sorting End */

/**/

/**/

/* Recommended Begin */
.slider {
  position: relative;
}

.slide {
  display: none;
  position: relative;
}

.slide::before {
  position: absolute;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  top: -17px;
  right: 47px;
  width: 182px;
  height: 170px;
  color: var(--white-basic);
}

.slide:first-child img {
  margin-left: 59px;
}

.slide:first-child::before {
  content: "01";
}

.slide:nth-child(2)::before {
  content: "02";
  margin-right: 30px;
}

.slide:nth-child(2) img {
  margin-top: 26px;
  margin-left: 86px;
}

.slide:nth-child(3) img {
  margin-top: 82px;
}

.slide:nth-child(3)::before {
  content: "03";
  margin-right: 30px;
}

.slide-current {
  display: block;
}

.recommended-slider-controls {
  display: flex;
  width: 72px;
  justify-content: space-between;
  position: absolute;
  right: 88px;
  top: 340px;
}

.recommended-slider-controls button {
  position: relative;
  cursor: pointer;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--black-basic);
}

.recommended-slider-controls .toggle-current::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--black-basic);
}

.recommended {
  margin-top: -129px;
  margin-bottom: 103px;
}

.recommended-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommended-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recommended-product-img {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  height: var(--recommended-img-height);
  width: var(--recommended-img-width);
}

.recommended-product-img a,
.recommended-product-img img {
  display: block;
}

.recommended-product-about {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  row-gap: 26px;
  margin-left: 20px;
}

.recommended-product-about .section-title {
  width: 491px;
  margin: 0px;
  margin-top: 93px;
  padding: 0px;
  z-index: 1;
}

.recommended-product-description {
  line-height: 20px;
  margin: 0;
  padding: 0;
  width: 486px;
}

.recommended .button {
  display: inline-block;
  margin-right: auto;
  margin-top: 34px;
  padding-left: 44px;
  padding-right: 39px;
}

.recommended .button::before {
  width: 220px;
}

.recommended-product-table {
  width: 515px;
  margin-top: 34px;
  border-spacing: 0;
  overflow-wrap: anywhere;
}

.product-attrs {
  display: table-footer-group;
  letter-spacing: 1.3px;
}

.product-values {
  display: table-header-group;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 15px;
}

.recommended-attr {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-right: 63px;
}

.recommended-value {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 42px;
  padding: 0;
  margin: 0;
  padding-right: 61px;
}
/* Recommended End */

/* Categories Begin */
.categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-routes {
  display: flex;
  flex-wrap: wrap;
}

.categories-route {
  width: var(--categories-min-width);
}

.categories-route:not(:nth-child(6)) {
  margin-right: 40px;
}

.category-title {
  padding: 0;
  margin: 0;
}

.categories-link {
  display: block;
  position: relative;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  font-size: 18px;
  color: var(--black-basic);
  line-height: 22px;
  letter-spacing: 0.9px;
  margin-top: 2px;
  padding-top: calc(var(--categories-min-width) + var(--categories-link-padding));
}

.categories-link::before {
  content: "";
  position: absolute;
  top: 0;
  width: var(--categories-min-width);
  height: var(--categories-min-width);
  background-color: var(--yellow-light);
}

.categories-link:hover::before{
  background-color: var(--yellow-basic);
}

.categories-link:active .category-title,
.categories-link:active::after {
  opacity: 0.3;
}

.categories-vr::after {
  content: "";
  position: absolute;
  width: 97px;
  height: 55px;
  top: 52px;
  left: 31px;
  background-image: url("../img/categories-vr.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.categories-vr .category-title {
  margin-left: 1px;
}

.categories-monopods::after {
  content: "";
  position: absolute;
  width: 86px;
  height: 117px;
  top: 26px;
  left: 37px;
  background-image: url("../img/categories-monopods.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.categories-actioncams::after {
  content: "";
  position: absolute;
  width: 71px;
  height: 87px;
  top: 36px;
  left: 44px;
  background-image: url("../img/categories-actioncams.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.categories-route:nth-child(4) .categories-link {
  letter-spacing: 0px;
}

.categories-fitnesstrackers::after {
  content: "";
  position: absolute;
  width: 107px;
  height: 65px;
  top: 48px;
  left: 27px;
  background-image: url("../img/categories-fitnesstrackers.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.categories-smartwatches::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 98px;
  top: 31px;
  left: 52px;
  background-image: url("../img/categories-smartwatches.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.categories-quadcopters::after {
  content: "";
  position: absolute;
  width: 132px;
  height: 69px;
  top: 46px;
  left: 14px;
  background-image: url("../img/categories-quadcopters.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* Categories End */

/* Advantages Begin */
.advantages {
  min-height: 288px;
  background-image: linear-gradient(
    var(--white-basic) var(--header-white-gradient),
    var(--gray-light) var(--header-white-gradient));
  margin-bottom: 90px;
}

.advantages-slider-controls .button {
  border: none;
  background-color: transparent;
  text-align: center;
  padding-right: 133px;
  padding-left: 19.5px;
  padding-top: 9.3px;
  padding-bottom: 8.9px;
  color: var(--black-basic)
}

.advantages-slider-controls .button::before {
  width: 160px;
  left: 0;
  top: 16px;
}

.advantages-slider-controls .toggle-current.button::before {
  display: none;
}

.advantages_wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-top: 164px;
  padding-bottom: 129px;
}

.advantages-tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-slider-controls {
  display: flex;
  min-width: var(--advantages-tags-text-width);
  flex-direction: column;
  position: relative;
}

.advantages-slider-controls::before {
  content: "";
  position: absolute;
  left: 277px;
  top: -80px;
  width: 7px;
  height: calc(100% + 141px);
  background-color: var(--black-basic);
}

.advantages-slider-controls .toggle-current,
.advantages-slider-controls .toggle:active {
  background-color: var(--black-basic);
  color: var(--yellow-light);
}

.advantages-slider-controls .toggle:active {
  background-color: var(--black-basic);
  color: var(--yellow-light);
}

.advantages-slider-controls .toggle:active:before {
  display: none;
}

.advantages-tag {
  display: block;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: inherit;
  line-height: 22px;
}

.advantages-slider-controls .toggle:not(:first-child) {
  margin-top: 21px;
}

.advantages-definitions {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: var(--advantages-defitions-marginleft);
}

.advantages-nav-item.toggle-current:nth-child(3) {
  padding-bottom: 8px;
  margin-top: 22px;
}

.advantages-definition {
  position: relative;
  display: none;
}

.advantages-definition.slide-current {
  display: block;
}

.advantages-definition:first-child::after {
  content: "";
  position: absolute;
  right: 2px;
  top: -9px;
  width: 136px;
  height: 164px;
  background-image: url("../img/advantages-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-definition:nth-child(2)::after {
  content: "";
  position: absolute;
  right: -16px;
  top: -27px;
  width: 171px;
  height: 195px;
  background-image: url("../img/advantages-warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-definition:last-child::after {
  content: "";
  position: absolute;
  right: 8px;
  top: -32px;
  width: 156px;
  height: 188px;
  background-image: url("../img/advantages-credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage-title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 41px;
  letter-spacing: 9.4px;
  margin-bottom: 48px;
}

.advantage-description {
  padding: 0;
  margin: 0;
  letter-spacing: 1.5px;
  line-height: 30px;
  width: 570px;
}
/* Advantages End */

/* Partners Begin */
.partners {
  min-height: 100px;
  margin-bottom: 140px;
}

.partners-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners-list img {
  filter: grayscale(100%);
  opacity: 0.25;
}

.partner-link {
  outline: none;
}

.partner-link:hover img,
.partner-link:focus img {
  filter: none;
  opacity: 1;
}

.partners-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Partners End */

/* About Us Begin */
.about-us {
  display: flex;
  flex-direction: column;
}

.about-us p {
  width: 476px;
}

.about-us-container {
  display: grid;
  position: relative;
  row-gap: 40px;
}

.about-us-container::before {
  content: "";
  position: absolute;
  top: -58px;
  width: 80px;
  height: 7px;
  background-color: var(--black-basic);
}

.contact-us-container {
  display: grid;
  position: relative;
  row-gap: 21px;
}

.contacts p {
  width: 560px;
}

.contact-us-container::before {
  content: "";
  position: absolute;
  top: -58px;
  width: 80px;
  height: 7px;
  background-color: var(--black-basic);
}

.about-us .section-title {
  line-height: 57px;
  letter-spacing: 9.5px;
}

.about-us .button {
  padding-left: 1px;
}

.delivery-providers {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 32px;
  list-style: none;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.delivery-provider {
  position: relative;
  margin-bottom: 14.5px;
}

.delivery-provider::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 11px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid var(--gray-light);
  border-radius: 50%;
}
/* About Us End */

/* Contacts Begin */
.contacts {
  display: grid;
  margin-left: 20px;
}

.contacts .section-title {
  letter-spacing: 9.4px;
  line-height: 57px;
}

.contacts .button {
  border: none;
  background-color: transparent;
  margin-left: -1px;
}

.contacts .button::before {
  left: 1px;
  top: 9px;
}
/* Contactts End */

/* Footer Begin */
.footer {
  background-color: var(--black-light);
  color: var(--white-basic);
}

.footer_wrapper {
  display: grid;
  position: relative;
  grid-template-areas:
    "logo user-routes user-routes"
    "address-phys site-routes address-tel"
    ". social copyright";
  padding-bottom: 41px;
}

.footer_wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 78px;
  width: 80px;
  height: 7px;
  background-color: var(--yellow-some);
}

.footer-logo {
  grid-area: logo;
  margin-top: 64px;
  margin-bottom: 28px;
  margin-right: auto;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-routes {
  grid-area: user-routes;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 42px;
}

.footer-user-route {
  margin-right: 30px;
}

.footer-user-route-logged {
  margin-right: 24px;
}

.footer-user-route-logged .user-routes-link {
  padding-left: calc(13px + var(--main-nav-login-icon-width));
}

.footer-user-route-logged .user-routes-link::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: var(--main-nav-login-icon-width);
  height: 14px;
  background-image: url("../img/icon-user-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-route-exit {
  margin-right: 39px;
}

.footer-user-route-login {
  margin-right: 41px;
}

.footer-user-route-login .user-routes-link {
  padding-left: calc(11px + var(--main-nav-login-icon-width));
}

.footer-user-route-login .user-routes-link::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: var(--main-nav-login-icon-width);
  height: 14px;
  background-image: url("../img/icon-user-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-route-compare {
  margin-right: 42px;
}

.footer-user-route-compare .user-routes-link {
  padding-left: calc(11px + var(--main-nav-user-compare-icon-width));
}

.footer-user-route-compare .user-routes-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: var(--main-nav-user-compare-icon-width);
  height: 14px;
  background-image: url("../img/icon-chart-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-route-cart {
  margin-right: 1px;
}

.footer-user-route-cart .user-routes-link {
  padding-left: calc(12px + var(--main-nav-user-cart-icon-width));
}

.footer-user-route-cart .user-routes-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: var(--main-nav-user-cart-icon-width);
  height: 10px;
  background-image: url("../img/icon-cart-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-address-phys {
  grid-area: address-phys;
  width: 280px;
  margin-right: 4px;
}

.address-phys {
  font-style: normal;
}

.footer-site-routes-wrapper {
  grid-area: site-routes;
  margin-bottom: 48px;
}

.footer-site-routes {
  display: flex;
  flex-wrap: wrap;
}

.footer-site-routes li {
  margin-right: 33px;
}

.footer-address-tel {
  grid-area: address-tel;
  text-align: right;
  margin-left: auto;
  margin-bottom: auto;
}

.footer-social {
  grid-area: social;
  width: 386px;
}

.footer-copyright {
  grid-area: copyright;
  justify-self: right;
}

.footer-copyright img:hover {
  opacity: 0.6;
}

.footer-copyright img:active {
  opacity: 0.3;
}
/* Footer End */

/* Address Begin */
.address {
  line-height: 20px;
}

.address-tel {
  color: var(--white-basic)
}
/* Address End */

/* Social Begin */
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 16px;
  margin-left: 39px;
}

.social img {
  opacity: 0.3;
}

.social img:hover {
  opacity: 0.6;
}

.social img:active {
  opacity: 0.1;
}
/* Social End */

/* Products Begin*/
.products {
  background-color: var(--white-basic);
}

.products-header {
  position: relative;
  background-color: var(--gray-light);
  padding-left: 72px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  min-height: 70px;
}

.products-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: calc(-1 * (100vw - var(--container-size)) / 2);
  height: 100%;
  width: calc((100vw - var(--container-size)) / 2);
  background-color: var(--gray-light);
  z-index: -1;
}

.products-header .section-title-uppercase {
  /*margin-top: 13px;*/
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-products-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 72px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.catalog-product-item:not(:last-child):not(:nth-last-child(2)) {
  margin-bottom: 48px;
}

.catalog-product-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.catalog-product {
  display: grid;
  max-width: 360px;
  position: relative;
  row-gap: 30px;
}

.product-new {
  position: absolute;
  width: 27px;
  height: 15px;
  top: 12%;
  right: 12.5%;
  text-transform: uppercase;
  font-family: "Gilroy Bold", "Open Sans Bold", sans-serif;
  font-size: 12px;
  color: var(--black-opacity03);
}

.product-new::before {
  content: "";
  position: absolute;
  top: -17px;
  right: -18px;
  width: 62px;
  height: 62px;
  background-color: transparent;
  border: 2px solid var(--black-opacity03);
  border-radius: 50%;
}

.product-link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  color: var(--black-basic);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.9px;
  max-width: 360px;
  overflow-wrap: anywhere;
}

.product-price {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18.45px;
  min-width: 95px;
  text-align: right;
}

.products-footer {
  background-color: var(--gray-lightest);
  margin-left: 72px;
  margin-bottom: 78px;
}

.product-img-wrapper {
  position: relative;
  width: 360px;
  height: 380px;
}

.catalog-product-item:hover img {
  opacity: 0.7;
}

.catalog-product-item button {
  display: none;
}

.catalog-product-item:hover button {
  display: block;
}

.button-add-product {
  position: absolute;
  border: none;
  top: 47%;
  left: 30%;
  background-color: transparent;
}

.catalog-product .button:before {
  top: 7px;
  left: -31px;
  width: 200px;
}

.button-add-comparison {
  position: absolute;
  cursor: pointer;
  padding: 0;
  margin: 0;
  top: 59%;
  left: 26%;
  border: none;
  background-color: transparent;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 2.1px;
  opacity: 0.5;
}

.button-add-comparison:hover {
  opacity: 1;
}

.button-add-comparison:active {
  opacity: 0.2;
}
/* Products End*/

/* Pagination Begin*/
.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-pagination {
  display: flex;
  align-items: center;
}

.pagination-numbers {
  display: flex;
  padding-left: 35px;
}

.pagination-number {
  margin-right: 30px;
}

.pagination-prev-next {
  height: 70px;
  padding: 20px 30px;
  letter-spacing: 1.9px;
}

.pagination-prev-next:first-child {
  margin-right: auto;
}

.pagination-prev-next:first-child + li {
  margin: 0 auto;
}

.pagination-prev-next:last-child {
  margin-left: auto;
  padding-right: 28px;
}

.pagination-prev-next:hover,
.pagination-prev-next:active {
  background-color: var(--gray-darker);
}

.pagination-link {
  font-family: "Gilroy Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-basic);
  opacity: 0.3;
  text-transform: uppercase;
}

.pagination-link:hover {
  opacity: 0.6;
}

.pagination-prev-next:hover .pagination-link,
.pagination-link:active {
  opacity: 1;
}

.pagination-prev-next:active .pagination-link {
  opacity: 0.3;
}

.selected-pagination {
  opacity: 1;
}
/* Pagination End*/

/* Filters Begin */
.filters {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.filters-header {
  position: relative;
  background-color: var(--gray-darkest);
  min-height: 70px;
  padding: 0 60px;
  padding-right: 191px;
}

.filters-header::before {
  content: "";
  position: absolute;
  left: -50vw;
  width: 50vw;
  height: 70px;
  background-color: var(--gray-darkest);
  z-index: -1;
}

.filters-header .section-title-uppercase {
  margin-top: 25px;
}
/* Filters End */

/*Catalog Form Begin*/
.catalog-filters-form-wrapper {
  position: relative;
  background-color: var(--gray-light);
}

.catalog-filters-form-wrapper::before {
  content: "";
  position: absolute;
  left: -50vw;
  height: 100%;
  width: 50vw;
  background-color: inherit;
}

.catalog-filters-form {
  padding-left: 60px;
  padding-top: 86px;
}

.catalog-filters-form legend {
  position: relative;
  font-family: "Gilroy Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  width: 200px;
  overflow-wrap: anywhere;
}

.catalog-filters-form legend:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  top: -16px;
  background-color: var(--black-basic);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: 0;
  width: 200px;
  margin-bottom: 48px;
}

.filter-item:last-of-type {
  margin-top: 51px;
  margin-bottom: 45px;
}

.range-controls {
  position: relative;
  box-sizing: content-box;
  padding-top: 38px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;
  width: 100%;
  background-color: var(--black-opacity02);
}

.range-controls .bar {
  width: 62%;
  height: 100%;
  background-color: var(--green-basic);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid var(--white-basic);
  border-radius: 50%;
  background-color: var(--gray-onemore);
  box-shadow: 0 2px 1px 0 #cfcfcf; /*TODO: refactor*/
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 114px;
}

.price-controls label {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 14px;
}

.price-controls input {
  padding: 0;
  margin: 0;
  margin-right: 15px;
  width: 60px;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  border: none;
}

.filter-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-item label {
  position: relative;
  cursor: pointer;
  width: 200px;
  overflow-wrap: anywhere;
}

.filter-checkbox {
  margin-top: 11px;
}

.filter-checkbox:first-child {
  margin-top: 27px;
}

.filter-input + label {
  display: block;
  padding-left: 42px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  user-select: none;
}

.filter-input-checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-frame.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 4px;
  width: 20.31px;
  height: 21px;
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover:before,
.filter-input-checkbox + label:hover:after {
  opacity: 0.6;
}

.filter-input-checkbox + label:active:before,
.filter-input-checkbox + label:active:after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label:before,
.filter-input-checkbox:disabled + label:after {
  opacity: 0.25;
}

.filter-input-checkbox:disabled + label {
  color: var(--gray-another);
}

.filter-radio {
  margin-top: 12px;
}

.filter-radio:first-of-type {
  margin-top: 27px;
}

.filter-input-radio + label {
  padding-left: 40px;
}

.filter-input-radio + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
  background-image: url("../img/radio-frame.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 10px;
  width: 8px;
  height: 8px;
  background-image: url("../img/radio-checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:focus + label {
  outline: 2px solid var(--green-basic);
  outline-offset: 3px;
}

.filter-button {
  padding-left: 37px;
}

.catalog-filters-form .button {
  border: none;
  background-color: inherit;
}

.catalog-filters-form .button::before {
  width: 200px;
  top: 8px;
}
/*Catalog Form End*/

/*Modals Begin*/
.modal {
  display: none;
  position: fixed;
  margin: auto;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.modal-active {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  animation-name: move-center;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.modal-contact {
  width: 960px;
  height: 550px;
  font-family: "Gilroy Bold", Arial, sans-serif;
  background-color: var(--white-basic);
  font-size: 18px;
}

.form-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin: 0 100px;
  margin-top: 89px;
}

.form-contact p {
  margin: 0;
  margin-bottom: 29px;
}

.form-contact input {
  display: block;
  width: 100%;
  margin-top: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 21px;
  letter-spacing: 0.3px;
  background-color: var(--gray-anotherone);
  border: none;
}

.form-contact input:hover,
.form-contact textarea:hover {
  background-color: var(--gray-form-input);
}

.form-contact input:focus,
.form-contact textarea:focus {
  background-color: inherit;
  outline: 2px solid var(--yellow-form-outline);
}

.form-contact input:invalid,
.form-contact textarea:invalid {
  background-color: var(--red-form-invalid);
}

.form-contact input::placeholder,
.form-contact textarea::placeholder {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 14px;
  color: var(--black-opacity04);
}

.form-contact input:focus::placeholder,
.form-contact textarea:focus::placeholder {
  color: var(--black-basic);
}

.form-contact p:last-of-type {
  grid-column: span 2;
}

.form-contact textarea {
  width: 100%;
  resize: none;
  min-height: 169px;
  border: none;
  margin-top: 5px;
  padding-top: 19px;
  padding-left: 21px;
  background-color: var(--gray-anotherone);
  letter-spacing: 0.2px;
  background-color: var(--gray-anotherone);
}

.button-contact {
  background-color: transparent;
  width: 200px;
  border: none;
  margin-bottom: 64px;
  margin-top: 15px;
}

.button-contact::before {
  width: 200px;
}

.modal-map {
  width: 962px;
  height: 560px;
}

.modal-close {
  position: absolute;
  top: 40px;
  right: 36px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -3px;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.modal-close:active,
.modal-close:focus {
  outline: none;
}

.modal-close::after {
  content: "";
  position: absolute;
  top: -17px;
  left: -16px;
  width: 55px;
  height: 55px;
  background-color: var(--yellow-light);
  border-radius: 50%;
  opacity: 0.5;
}

.modal-close:hover::after {
  background-color: var(--yellow-basic);
  opacity: 1;
}

.modal-close:active::after {
  opacity: 0.3;
}
/*Modals End*/
